<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DakDash</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="svg-score">
      <!-- SVG preview will be displayed here -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="/static/js/viewer.js"></script>
    <script type="module" src="/static/js/api.js"></script>
    <script type="module" src="/static/js/wizard/index.js"></script>
  </body>
</html>
