<h2>Edit Scoreboard Appearance</h2>

<div id="svg-preview">
  <!-- SVG preview will be displayed here -->
</div>

<div class="team-fieldsets">
  <fieldset>
    <legend>Home Team</legend>
    <label for="home_team_light">Light Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="home_team_light"
      name="home_team_light"
    />
    <br />
    <br />

    <label for="home_team_dark">Dark Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="home_team_dark"
      name="home_team_dark"
    />
    <br />
    <br />

    <label for="home_team_text">Text Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="home_team_text"
      name="home_team_text"
    />
    <br />
    <br />

    <label for="home_team_name">Team Name:</label>
    <input
      type="text"
      class="scoreboard_preference_input"
      id="home_team_name"
      name="home_team_name"
      maxlength="4"
    />
    <br />
    <br />
  </fieldset>

  <fieldset>
    <legend>Away Team</legend>
    <label for="away_team_light">Light Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="away_team_light"
      name="away_team_light"
    />
    <br />
    <br />

    <label for="away_team_dark">Dark Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="away_team_dark"
      name="away_team_dark"
    />
    <br />
    <br />

    <label for="away_team_text">Text Color:</label>
    <input
      type="color"
      class="scoreboard_preference_input"
      id="away_team_text"
      name="away_team_text"
    />
    <br />
    <br />

    <label for="away_team_name">Team Name:</label>
    <input
      type="text"
      class="scoreboard_preference_input"
      id="away_team_name"
      name="away_team_name"
      maxlength="4"
    />
    <br />
    <br />
  </fieldset>
</div>

<button type="button" id="save_scoreboard">Save</button>
