<h2>Select Communication Method</h2>

<label for="method_selector">Method Selector:</label>
<div id="manual_settings">
  <input
    type="radio"
    id="manual"
    name="method_selector"
    value="manual"
    checked
  />
  <label for="manual">Manual</label>
</div>
<br />
<div id="synced_settings" hidden>
  <input type="radio" id="synced" name="method_selector" value="synced" />
  <label for="synced">Synced</label>
  <p style="font-size: small; color: gray">
    Synced mode connects to the ESP32.
  </p>
  <label for="ip_address">IP Address:</label>
  <input
    type="text"
    id="ip_address"
    name="ip_address"
    placeholder="Enter IP Address"
    disabled
  />
  <br />
  <label for="port">Port:</label>
  <input type="text" id="port" name="port" placeholder="Enter Port" disabled />
</div>
<br />
<button type="button" id="start_server_button">Next</button>
